.additionalInfo {
  flex-grow: 1;
  color: #777;
}

.steps {
  margin-top: 20px;
}

.step {
  display: flex;
  font-size: var(--largeFontSize);
  line-height: 20px;
}

.stepState {
  margin-right: 8px;
}
