.deleteButton {
  composes: button from '~Components/Link/Button.css';

  margin-right: auto;
}

.labelIcon {
  margin-right: 5px;
  vertical-align: middle;
}

.message {
  composes: alert from '~Components/Alert.css';

  margin-bottom: 30px;
}
