.relativePath {
  composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

  word-break: break-all;
}

.extension,
.type {
  composes: cell from 'Components/Table/Cells/TableRowCell.module.css';
}
