.selectInput {
  composes: input from '~Components/Form/CheckInput.css';
}

.folder {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 1 400px;
  min-width: 170px;
  line-height: 36px;
}

.monitor {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 1 150px;
  min-width: 100px;
}

.qualityProfile {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 1 170px;
  min-width: 100px;
}

.movie {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 1 0 200px;
}
