.info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sceneBackgroundColor);
  font-size: $smallFontSize;
  gap: 5px;
}

.title {
  @add-mixin truncate;

  composes: info;
}
