.year {
  margin-bottom: 20px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--cardBackgroundColor);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-size: 24px;
}

.yearNumber{
  margin-right: 10px;
  margin-left: 5px;
}

.sizeOnDisk {
  margin-left: 10px;
  color: #777;
  font-size: $defaultFontSize;
}

.hearerLeft {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.headerCenter {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
}

.headerRight {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.monitorToggleButton{
  justify-content: flex-start;
}

.movieCountTooltip {
  display: flex;
}

.expandButton {
  composes: link from '~Components/Link/Link.css';
}

.refreshButton {
  padding-left: 5px;
}

.searchButton {
  padding-right: 10px;
}

.actionsMenu {
  composes: menu from '~Components/Menu/Menu.css';

  flex: 0 0 45px;
}

.actionsMenuContent {
  composes: menuContent from '~Components/Menu/MenuContent.css';

  white-space: nowrap;
  font-size: $defaultFontSize;
}

.actionMenuIcon {
  margin-right: 8px;
}

.actionButton {
  composes: button from '~Components/Link/IconButton.css';

  width: 30px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-top: 1px solid var(--borderColor);
}

.collapseButtonContainer {
  display: flex;
  align-items: center;
}

.noEpisodes {
  margin-bottom: 15px;
  text-align: center;
}

@media only screen and (max-width: $breakpointSmall) {
  .year {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }

  .expandButtonIcon {
    margin: 0;
  }

  .sizeOnDisk {
    display: none;
  }
}
