.performers,
.title {
  white-space: wrap;
}

.title,
.studio,
.monitored,
.performers,
.runtime,
.size,
.path,
.relativePath,
.languages,
.audio,
.video,
.status,
.audioLanguages,
.videoDynamicRangeType,
.subtitles,
.releaseGroup,
.customFormatScore {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';
}

.externalLink {
  margin-left: 5px;
  width: 12px;
  height: 12px;
}

.monitored {
  position: relative;
  padding: 0;
  width: 42px;
  height: 42px;
}

.monitorToggleButton {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 32px; /* adjust as needed */
  height: 32px; /* adjust as needed */
  border: none;
  background: none;
  transform: translate(-50%, -50%);
}

.runtime {
  width: 80px;
}

.languages,
.audio,
.video,
.size,
.status {
  width: 100px;
}

.audioLanguages,
.videoDynamicRangeType,
.subtitles {
  width: 165px;
}

.releaseGroup {
  width: 120px;
}

.customFormatScore {
  width: 55px;
}