.result {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 3px 4px;
  border-top: 1px solid var(--borderColor);
  cursor: pointer;
}

.posterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 140px;
  overflow: hidden;
  margin-right: 12px;
  width: 140px;
  height: 120px;
}

.poster {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.runtime {
  color: var(--mutedColor);
  font-size: 12px;
}

.screenshot {
  width: 80px;
}

.sceneContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 140px;
  overflow: hidden;
  margin-right: 12px;
  width: 140px;
}

.scene {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.titles {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}

.titleContainer {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  min-width: 1px;
}

.title {
  overflow: hidden;
  margin-bottom: 6px;
  margin-left: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}

.studioIcon{
  margin-right: 6px;
}

.studioTitle {
  margin-left: 8px;
  color: var(--mutedColor);
  font-size: 14px;
}

.releaseDate {
  margin-left: 8px;
  color: var(--mutedColor);
  font-size: 12px;
}

.itemTypeContainer {
  display: flex;
  align-items: center;
}

.itemType {
  display: inline-flex;
}

.metaRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;

  margin-bottom: 4px;
}

.alternateTitle {
  composes: title;

  color: var(--disabledColor);
  font-size: $smallFontSize;
}

@media only screen and (max-width: $breakpointSmall) {
  .titles,
  .title,
  .alternateTitle {
    @add-mixin truncate;
  }
}