.importListExclusionsHeader {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--borderColor);
  font-weight: bold;
}

.foreignId {
  flex: 1 1 300px;
}

.title {
  flex: 1 1 600px;
}

.type,
.movieYear {
  flex: 0 0 100px;
}

.addImportExclusion {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;
  padding-right: 10px;
}

.addButton {
  text-align: center;
}
