.importListExclusionsHeader {
  display: flex;
  margin-bottom: 10px;
  font-weight: bold;
}

.foreignId,
.title {
  flex: 0 0 600px;
}

.type,
.movieYear {
  flex: 0 0 100px;
}

.addImportExclusion {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.addButton {
  text-align: center;
}
