.importExclusion {
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
  height: 30px;
  border-bottom: 1px solid var(--borderColor);
  line-height: 30px;
}

.foreignId {
  flex: 1 1 300px;
  overflow: hidden;
}

.movieTitle {
  @add-mixin truncate;
  flex: 1 1 600px;
}

.type,
.movieYear {
  flex: 0 0 100px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;
  padding-right: 10px;
}
