.titleContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.title {
  margin-right: 5px;
}

.year {
  margin-left: 5px;
  color: var(--disabledColor);
}

.existing {
  margin-left: 5px;
}
