.blurredText {
  display: inline-block;
  color: transparent;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}

.blurredCell {
  position: relative;
  overflow: hidden;
}

.blurredCell::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: var(--borderColor);
  content: '';
  pointer-events: none;
}

.title {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  white-space: wrap;
}

.monitored {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 42px;
}

.performers {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  white-space: wrap;
}

.runtime {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 80px;
}

.size {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 100px;
}

.languages,
.audio,
.video,
.path,
.releaseDate,
.status {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 100px;
}

.audioLanguages,
.videoDynamicRangeType,
.subtitles {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 165px;
}

.releaseGroup {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 120px;
}

.customFormatScore {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 55px;
}