.container {
  display: flex;
}

.year {
  margin-left: 5px;
  color: var(--disabledColor);
}

.poster {
  align-self: flex-start; /* avoid being stretched by the flex container */
  flex: 0 1 170px;    /* allow shrinking but don't grow */
  margin-right: 20px;
  min-width: 120px;   /* don't let it shrink too far */
  width: 170px;
  height: auto;
  aspect-ratio: 170 / 250; /* preserve DVD-cover proportions */
  object-fit: cover;
}

.screenShot {
  align-self: flex-start; /* keep this element square instead of stretching */
  flex: 0 0 360px; /* no grow, can shrink, basis 360px */
  margin-right: 20px;
  min-width: 360px; /* don't let it shrink too far */
  max-width: 360px;
  width: 360px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain; /* not all screenshots are perfectly square */
}

.info {
  flex-grow: 1;
  min-width: 0; /* allow this flex child to shrink and wrap content */
}

.overview {
  margin-bottom: 30px;
}

.labelIcon {
  margin-left: 8px;
}

.searchForMissingMovieLabelContainer {
  display: flex;
  margin-top: 2px;
}

.searchForMissingMovieLabel {
  margin-right: 8px;
  font-weight: normal;
}

.searchForMissingMovieContainer {
  composes: container from '~Components/Form/CheckInput.css';

  flex: 0 1 0;
}

.searchForMissingMovieInput {
  composes: input from '~Components/Form/CheckInput.css';

  margin-top: 0;
}

.modalFooter {
  composes: modalFooter from '~Components/Modal/ModalFooter.css';
}

.addButton {
  @add-mixin truncate;
  composes: button from '~Components/Link/SpinnerButton.css';
}

@media only screen and (max-width: $breakpointSmall) {
  .modalFooter {
    display: block;
    text-align: center;
  }

  .addButton {
    margin-top: 10px;
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .poster,
  .screenShot {
    flex: 0 1 40%;
    max-width: none;
    width: 40%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}
