.info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--movieBackgroundColor);
  font-size: $smallFontSize;
  gap: 5px;
}

.title {
  @add-mixin truncate;

  composes: info;
}

.tags {
  composes: tags from '~./MovieIndexPoster.css';
}

.tagsList {
  composes: tagsList from '~./MovieIndexPoster.css';
}
