.item {
  border-left: 3px solid transparent;
  color: var(--sidebarColor);
  transition: border-left 0.3s ease-in-out;
}

.isActiveItem {
  border-left: 3px solid var(--themePurple);
}

.link {
  display: block;
  padding: 12px 24px;
  color: var(--sidebarColor);

  &:hover,
  &:focus {
    color: var(--themeLightPurple);
  }

}

.childLink {
  composes: link;

  padding: 10px 24px;
  padding-left: 35px;
}

.isActiveLink {
  color: var(--themeLightPurple);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.isActiveParentLink {
  background-color: var(--sidebarActiveBackgroundColor);
    color: var(--themeLightPurple);
    }

    .sectionHeading {
      color: var(--themeLightPurple);
}

.iconContainer {
  display: inline-block;
  margin-right: 7px;
  width: 18px;
  text-align: center;
}

.status {
  float: right;
}
